@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100% }

.marker\:hidden::marker { content: "" }
.marker\:hidden::-webkit-details-marker { display: none }

.has-checked\:bg-blue-100:has(:checked) {
  @apply bg-blue-100;
}
.row-group:has(:checked) .row-group-has-checked\:text-blue-900 {
  @apply text-blue-900;
}
.row-group:has(:checked) .row-group-has-checked\:bg-blue-100 {
  @apply bg-blue-100;
}
.row-group:has(:checked) .row-group-has-checked\:bg-green-200\/50 {
  @apply bg-green-200/50;
}
.row-group:has(:checked) .row-group-has-checked\:bg-orange-200\/50 {
  @apply bg-orange-200/50;
}
.row-group:has(:checked) .row-group-has-checked\:bg-purple-200\/50 {
  @apply bg-purple-200/50;
}

td, th {
  /* fake border with background-image so "borders" stay put when scrolling */
  background-image:
    linear-gradient(to right, #CBD5E0, #CBD5E0),
    linear-gradient(to bottom, #CBD5E0, #CBD5E0),
    linear-gradient(to left, #CBD5E0, #CBD5E0),
    linear-gradient(to top, #CBD5E0, #CBD5E0);
  background-origin: border-box;
  background-position: top left, top right, bottom right, bottom left;
  background-repeat: no-repeat;
}
td, th {
  /* only put "borders" on right and bottom */
  background-size: 100% 1px, 0px 100%, 100% 0px, 1px 100%;
}
tfoot td {
  /* only put "borders" on top */
  background-size: 100% 1px, 0px 100%, 100% 0px, 0px 100%;
}
th[scope="rowgroup"] {
  /* only put "borders" on top */
  background-size: 100% 1px, 0px 100%, 100% 0px, 1px 100%;
}

.pagy-nav {
  @apply flex items-start justify-between px-4 sm:px-0 min-w-72;
}

.pagy-nav .page.prev,
.pagy-nav .page.next {
  @apply -mt-px flex w-0 flex-1;
}
.pagy-nav .page.prev {
  @apply justify-start mr-2;
}
.pagy-nav .page.next {
  @apply justify-end ml-2;
}
.pagy-nav .page.prev,
.pagy-nav .page.next {
  @apply inline-flex items-center border-t-2 border-transparent text-sm font-medium text-gray-500 pt-1
}
.pagy-nav .page.prev:not(.disabled),
.pagy-nav .page.next:not(.disabled) {
  @apply hover:border-gray-300 hover:text-gray-700;
}

.pagy-nav .page:not(.prev):not(.next) {
  @apply inline-flex items-center border-t-2 px-1;
}
.pagy-nav .page:not(.active):not(.prev):not(.next):not(.gap) {
  @apply border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300;
}
.pagy-nav .page.active {
  @apply border-indigo-500 text-indigo-600;
}
.pagy-nav .page.gap {
  @apply border-transparent;
}
